<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DomainPro-AI Chatbot Setup</title>
    <link rel="stylesheet" href="./static/styles.css">
    <script src="./static/script.js" defer></script>
</head>
<body>
    <header>
        <h1>DomainPro-AI Chatbot Setup</h1>
    </header>
    <main>
        <form id="setupForm">
            <div class="form-container">
                <label for="siteTitle">Chatbot Site Title:</label>
                <input type="text" id="siteTitle" required>
                
                <label for="chatbotName">Chatbot Name:</label>
                <input type="text" id="chatbotName" required>
                
                <label for="bucketName">Bucket Name:</label>
                <input type="text" id="bucketName">
                
                <label for="fileName">File Name:</label>
                <input type="text" id="fileName">
                
                <label for="projectId">Project ID:</label>
                <input type="text" id="projectId" required>
                
                <label for="appName">App Name:</label>
                <input type="text" id="appName" required>
                
                <label for="appRegion">App Region:</label>
                <input type="text" id="appRegion" required>
                
                <label for="openAIKey">OpenAI Key:</label>
                <input type="text" id="openAIKey" required>
                
                <button type="submit" class="submit-btn">Submit</button>
            </div>
        </form>
    </main>
</body>
</html>
